@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@font-face {
  font-family: "tw";
  font-weight: 900;
  src: url("./assets//Inter-SemiBold.woff2");
}

@font-face {
  font-family: "inter";
  font-weight: 900;
  src: url("./assets//c9a5bc6a7c948fb0-s.p.woff2");
}

.heading{
  font-family: "inter",sans-serif;
}

.para{
  font-family: "Open Sans",sans-serif;
}

:root {
  font-family: "tw", sans-serif;
  color-scheme: light dark;
  color: rgb(255, 255, 255);
  background-color: #000000;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ::-webkit-scrollbar{display: none;} */

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
  overflow: hidden;
}



body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.hero-join-button-dark {
  background: linear-gradient(var(--gradient-angle), hsla(0, 0%, 100%, .5), hsla(0, 0%, 100%, .1), #fff, hsla(0, 0%, 100%, .3)) !important;
}

.hero-join-button,
.hero-join-button-dark {
  animation: borderGrad 5s linear infinite reverse;
}

@keyframes borderGrad {
  0% {
    --gradient-angle: 360deg;
  }

  100% {
    --gradient-angle: 0deg;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}